<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">P@ssw0rd</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=LeonPower</property>
        <property name="hibernate.connection.username">watcher</property>
         
        <property name="hibernate.connection.datasource">java:comp/env/connectSQLServerJdbc/OrderService</property>     
        -->
        
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--  
        <mapping class="model.Account"/>
        <mapping class="model.Picture"/>
        <mapping class="model.Members"/>
        -->
        <mapping class="model.user.UserBean"/>
        <mapping class="model.profile.ProfileBean"/>
        <mapping class="model.wallet.WalletBean"/>
        <mapping class="model.setting.SettingBean"/>
        <mapping class="model.product.ProductBean"/>
        <mapping class="model.order.OrderBean"/>
        <mapping class="model.orderDetails.OrderDetailsBean"/>
        <mapping class="model.mailingList.MailBean"/>
        
    </session-factory>
</hibernate-configuration>
