* {
  position: relative;
  box-sizing: border-box;
  font-family: arial;
}
html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  background: linear-gradient(
    #4c68d7,
    #8a3ab9,
    #bc2a8d,
    #cd486b,
    #e95950,
    #fbad50,
    #fccc63
  );
}
/* Camera */
.camera {
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  border-radius: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: ballUp 0.5s 1s both, ballDown 0.2s 1.5s ease-in forwards,
    cameraIn 0.3s 1.7s forwards;

  perspective: 500px;
}
@keyframes ballUp {
  0% {
    top: 50%;
    width: 5px;
    height: 5px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    top: 10%;
    width: 5px;
    height: 5px;
  }
}
@keyframes ballDown {
  0% {
    top: 10%;
  }
  100% {
    top: 50%;
  }
}
@keyframes cameraIn {
  0% {
    width: 5px;
    height: 5px;
  }
  80% {
    width: 250px;
    height: 250px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
/* Lens */
.lens {
  width: 100px;
  height: 100px;
  border: 15px solid #fff;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: lensIn 0.3s 1.8s backwards;
}
@keyframes lensIn {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    width: 120px;
    height: 120px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
/* FlashLight */
.flashLight {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;

  position: absolute;
  top: 20px;
  right: 20px;

  animation: flashLightIn 0.3s 2.2s backwards;
}
@keyframes flashLightIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.flashLight:after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(256, 256, 256, 0.5);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: flash 0.3s 3s;
  opacity: 0;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Picture */
.picture {
  width: 250px;
  height: 250px;
  border: 10px solid #fff;
  background-color: #ccc;
  border-bottom: 20px solid #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: pictureIn 1s 3.5s backwards, pictureFlip 1s 4.5s;

  overflow: hidden;
  transition: all 0.3s;
}
.picture:hover {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: 0;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
@keyframes pictureIn {
  0% {
    height: 0;
    width: 120px;
    top: 100%;
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    height: 120px;
    width: 120px;
    top: 100%;
    transform: translate(-50%, 0);
  }
}
@keyframes pictureFlip {
  0% {
    height: 120px;
    width: 120px;
    top: 100%;
    transform: translate(-50%, 0) rotateX(0deg);
  }
  100% {
    height: 250px;
    width: 250px;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(360deg);
  }
}
.picture .imgBox {
  animation: showImg 1s 5s backwards;
  height: 300px;
  overflow: hidden;
}
@keyframes showImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.picture .imgBox button {
  width: 100%;
}
.picture .imgBox img {
  width: 100%;
}
.picture h1 {
  margin: 0;
  font-size: 24px;
  line-height: 40px;
  color: #333;
}
.picture h2 {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.picture .text {
  opacity: 0;
  transform: translateX(-20%);
}
.picture:hover .text {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1s 0.3s;
}
.mouse {
  width: 25px;
  height: 25px;
  background: url(pointer.svg);
  background-size: cover;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  animation: mouseHover 1.5s 5.5s infinite;
}
@keyframes mouseHover {
  0% {
    top: 150%;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 60%;
  }
}
.picture:hover ~ .mouse {
  visibility: hidden;
}
